footer {
  display: flex;
  background-color: black;
  position: fixed;
  width: 100%;
  flex-direction: row;
  left: 0;
  bottom: 0;
}

footer .divider {
  position: relative;
  padding-top: 15px;
  border-top: 1px solid #bbb;
  align-items: center;
  margin: 0 auto;
  width: 1920px;
}

footer .copyright {
  width: 266.625px;
  height: 14px;
  flex-shrink: 0;
  color: #FFF;
  font-family: "Bona Nova";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-text {
  width: 577.125px;
  height: 17px;
  flex-shrink: 0;
  color: #CC9600;
  font-family: "Bona Nova";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

footer .footer-icons {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  flex: 1;
}

footer .footer-icons a {
  width: 54px;
  height: 48px;
  flex-shrink: 0;
  outline: none;
}

footer .footer-icons a:hover {
  color: #edf2f7;
}

footer .custom-icon {
  max-width: 80px;
}
