.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 2px;
  background-color: #0a0a08;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 22px; 
}

.navbar-logo img {
  max-width: 90px;
  width: auto;
  height: auto;
}

.navbar-logo .span {
  color: #CC9600;
  font-family: "Bona Nova"; 
  font-weight: bold;
  font-size: 36px;
  line-height: normal;  
  letter-spacing: 2%;
}

.navbar-logo .span:hover {
  color: #ffd700;
}

.nav-links {
  margin-right: 15px;
  display:flex;
  gap: 25px;
  list-style-type: none;
}

.nav-links li {
  color: #FFF;
  font-family: "Bona Nova";
  font-size: 20px;
  letter-spacing: 2%;
  transition: color 0.3s ease;
}

.nav-links li:hover {
  color: goldenrod;
  cursor: pointer;
}

.nav-links a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  color: goldenrod;
}

.nav-links a.active {
  color: goldenrod;
  font-weight: bold;
}

@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    gap: 10px;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }
}
