body {
  margin: 0;
  padding-top: 60px; /* Adjust based on your NavBar height */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.react-datepicker {
  font-family: 'Chakra Petch', sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333; /* or your desired color */
  height: 60px; /* Adjust height to match your NavBar */
  z-index: 10;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Add some padding to the content below the navbar */
.main-content {
  padding-top: 80px; /* Adjust for spacing below navbar */
}

/* Title Section */
.title-section {
  margin-top: 60px; /* Space below navbar */
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
